@import "./containers/backend/index.styl"
@import "./containers/login/index.styl"
// @import "../common/containers/detail/index.styl"
// @import "../common/components/group/index.styl"
@import './components/modal/index.styl'

.main
  margin-top 80px
.glyphicon
  margin-right 5px

.group
  margin-bottom 20px

.btn-box
  margin-top 60px

